/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --main-color: hsl(32, 81%, 56%);
}

body {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #cc5577;
  background-image: url(assets/scattered-forcefields.svg);
  background-size: cover;
}

body,
html {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 4px 18px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 36px;
  margin-top: 12px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.resume {
  padding: 12px;
}

.resume__block {
  text-align: center;
  padding: 12px;
}

.contact-info__header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact_info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 12px;
  padding-bottom: 24px;
}

.contact-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact-info__block--center {
  max-width: 150px;
  max-height: 150px;
}

.contact-info__avatar {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border: 4px solid var(--main-color);
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  padding: 12px;
  padding-bottom: 24px;
}

.intro__icon-wrapper {
  padding-right: 8px;
}

.skills {
  border-bottom: 2px solid var(--main-color);
  padding: 12px;
  padding-bottom: 24px;
}

.skills__text {
  text-align: left;
}

.main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
  padding: 12px;
  padding-bottom: 24px;
  text-align: left;
}

.experiences,
.additional-info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.additional-info__education-university {
  padding-bottom: 4px;
}

.additional-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px;
}

@media screen and (max-width: 640px) {
  .contact_info_container {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 24px;
  }
  .contact-info__block--center {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .contact-info__block {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .contact-info__item {
    width: 200px;
  }
  .main-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px;
  }
}
